@{
    ViewData["Title"] = "Şifremi Unuttum";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bokor&family=Itim&family=Protest+Revolution&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/style1.css">
    <title>Parola Sıfırla</title>
</head>
<div class="bg-container">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
           
            

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger text-center">@ViewBag.Error</div>
            }

            <form method="post" action="/Home/ForgotPassword">
                <div class="form-group">
                    <h2 class="text-center mb-4">Parolayı Sıfırla</h2>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-posta adresinizi giriniz" required>
                    <label>Parolanızı sıfırlama talimatları içeren bir e-posta göndereceğiz.</label>
                </div>
                <button type="submit" class="btn btn-primary mt-4 shadow-sm submit-btn w-100"> Gönder</button>
            </form>
        </div>
    </div>
</div>
